{% extends "sidebar.html" %}
{% load custom_filters %}

{% block content %}

    <div class="container mx-auto">
        <h1 class="text-2xl text-center font-bold text-gray-800 mb-6">Grade Distribution by Branch</h1>
        <div class="overflow-x-auto bg-white shadow-md rounded-lg">
            <table class="min-w-full border border-gray-300">
                <thead>
                    <tr class="bg-gray-200 text-gray-700 text-sm">
                        <th class="py-2 px-4 border">Region</th>
                        <th class="py-2 px-4 border">Total Grades</th>
                        {% for grade in grades %}
                            <th class="py-2 px-4 border">{{ grade }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for branch_data in grade_data %}
                        <tr class="text-gray-600 text-sm">
                            {% if not branch_data.branch == None %}

                            <td class="py-2 px-4 border">
                                <a href="{% url 'group_head:grade_distribution_branch_view' branch_data.branch %}">{{ branch_data.branch }}</a>
                            </td>
                            
                            <td class="py-2 px-4 border">{{ branch_data.total_employees }}</td>
                            {% for grade in grades %}
                                <td class="py-2 px-4 border">{{ branch_data|get_item:grade }}</td>
                            {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="bg-gray-100 text-gray-700 text-sm font-bold">
                        <td class="py-2 px-4 border">Total</td>
                        <td class="py-2 px-4 border">{{ totals.total_employees }}</td>
                        {% for grade in grades %}
                            <td class="py-2 px-4 border">{{ totals|get_item:grade }}</td>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>
            
        </div>
    </div>
{% endblock content %}